<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}HTML5{% endblock %}</title>
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}">-->
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" href="/static/style/slider.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
</head>
<body style="background-image:url(/static/images/fon.jpg)">

        <div id="info"><h1>Система умный дом. Разработчик: Пилипенко Р. О.</h1></div>

        <div style="float: left; width: 35%; margin-left: 50px; padding-left: 100px;">
        <span class="round-ON" id="change-bright" onclick="openbox('slider-button')"></span>

        <div id="test" onclick="switchBulb()">
            {% if states == False %}
            <img src="/static/images/bulb-on.png" alt="" class="bulb" id="lamp">
            {% else %}
            <img src="/static/images/bulb.png" alt="" class="bulb" id="lamp">
            {% endif %}
        </div>

        <p id="t-hall">{{states_temperature['bedroom']}} C</p>

        <p id="value-bright">Освещение: {{states['brightness']}}%</p>

        <div class="rooms">
            <img src="/static/images/rooms.png" alt="" style="width: 450px;">
        </div>

        <div class="slider-button" id="slider-button">
            <div class="slidecontainer" id="slider">
            <input type="range" min="0" max="100" value={{states['brightness']}} onmouseup="change_brightness()" class="slider" id="myRange">
            </div>
        </div>

        <div id="manager">
            <h2 id="heater_mode">Подогрев выключен</h2>
            Верхний порог температуры
            <input value="{{limits[1]}}" required class="temperature_entry" id="max_temperature_entry" type="number">
            <br>
            <br>
            Нижний порог температуры
            <input value="{{limits[0]}}" required class="temperature_entry" id="min_temperature_entry" type="number">
            <br>
            <br>
            <button onclick="apply_temperature_limits()" id="apply_limits">Применить</button>
        </div>

        </div>

        <div style="width:740px;height:400px;margin: 0 auto; float: left;">
            <canvas id="myChart" width="300" height="300"></canvas>
        </div>

    <script src="/static/scripts/slider.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</body>
</html>