<!DOCTYPE html>

<html>

<head>
    <title>Suggestions</title>
</head>

<body>

<label id="value_label">
    {{suggestions}}
</label>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
setTimeout(function(){
    $.ajax({
      url: "/test",
      type: "get",
      success: function(response) {
        $("#pvalue_label").text(response.t);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
}, 1000);
</script>

</body>

</html>