.round-ON{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: yellow;
    border: 3px solid;
}

.bulb{
    position: absolute;
    width: 60px;
}

#lamp{
    margin-left: 13%;
    margin-top: 3%;
}

#t-hall{
    font-size: 36px;
    position: absolute;
    margin-left: 13%;
    margin-top: 10%;
}

#change-bright{
    position: absolute;
    margin-top: 16%;
    margin-left: 20%;
}

#value-bright{
    font-size: 24px;
    position: absolute;
    margin-left: 7%;
    margin-top: 16%;
}

#info{
    text-align:center;
}

#test{
    background-color: black;
}

button {
    background-color: #0a91c7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#manager{
    position: absolute;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width : 450px;
}

.temperature_entry{
    width:50px;
}